@import "tailwindcss"; 


/* Optional: Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(76, 175, 80, 0.6);
  border-radius: 10px;
}

/* Smooth transitions */
html {
  scroll-behavior: smooth;
}
